<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <!-- <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" /> -->
	<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <appSettings>
    <!--Application Section-->
    <!-- <add key="" value="" /> -->
    <add key="APPName" value="DUMMY_SCH_01" />
	<add key="APPFunction_Dummy_01" value="DUMMY_FUNC_01" />
	<!-- <add key="APPFunction_SwiftAdapter" value="WS_SWIFT" /> -->
	  
	  
    <add key="proxyhttp" value="" />
    <add key="proxyport" value="" />
    <add key="TimeoutLimit" value="60000" />
    <add key="Branch" value="" />
    <add key="TellerID" value="" />
	
	<add key="DateRange" value="3" />
	  
    <!-- <Debug_Section/> -->
    <!-- <add key="debug" value="true" /> -->
    <add key="debug" value="true" />
    <!--Debug Section-->
	 
	  <add key="DBDataSource" value="127.0.0.1" />
	  <add key="DBInitialCatalog" value="dummy_01" />
	  <add key="DBUsername" value="root" />
	  <add key="DBPassword" value="" />

	  <add key="DBDataSourceSQLServer" value="" />
	  <add key="DBInitialCatalogSQLServer" value="" />
	  <add key="DBUsernameSQLServer" value="" />
	  <add key="DBPasswordSQLServer" value="" />
	  
    <add key="ClientSettingsProvider.ServiceUri" value="" />

	  <!-- Bagian Web services-->
	  <add key="urlGetDetailTransaction" value="http://172.18.54.248:9090/AdapterService.asmx/GetDetailTransaction" />
  </appSettings>
  <!--Ini kgk tau fungsi nya-->
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="ClientRoleProvider">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <!-- Sampai ini -->
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>