<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <!-- <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" /> -->
	<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <appSettings>
    <!--Application Section-->
    <!-- <add key="" value="" /> -->
    <add key="APPName" value="DUMMY_SCH_01" />
	<!-- <add key="APPName" value="swift_tracer" /> -->
	<add key="APPFunction_Dummy_01" value="DUMMY_FUNC_01" />
	<add key="APPFunction_Mapping" value="mapping" />
	<add key="APPFunction_SwiftAdapter" value="SwiftAdapter" />
	  
	  
    <add key="proxyhttp" value="proxy2.bri.co.id" />
    <add key="proxyport" value="1707" />
    <add key="TimeoutLimit" value="60000" />
    <add key="Branch" value="0206" />
    <add key="TellerID" value="0206891" />
	
	<add key ="DateRange" value ="2"/>
	  
    <!-- <Debug_Section/> -->
    <!-- <add key="debug" value="true" /> -->
    <add key="debug" value="true" />
    <!--Debug Section-->
	 
	  <add key="DBDataSource" value="127.0.0.1" />
	  <add key="DBInitialCatalog" value="dummy_01" />
	  <add key="DBUsername" value="root" />
	  <add key="DBPassword" value="" />

	  <add key="DBDataSourceSQLServer" value="10.35.65.150" />
	  <add key="DBInitialCatalogSQLServer" value="SWIFTDAT" />
	  <add key="DBUsernameSQLServer" value="sa" />
	  <add key="DBPasswordSQLServer" value="P@ssw0rd" />
	  
    <add key="ClientSettingsProvider.ServiceUri" value="" />

	  <!-- Bagian Web services-->
	  <add key="urlGetDetailTransaction" value = "http://172.18.54.248:9090/AdapterService.asmx/GetDetailTransaction"/>
  </appSettings>
  <!--Ini kgk tau fungsi nya-->
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="ClientRoleProvider">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <!-- Sampai ini -->
</configuration>